<h3>Account password has been changed successfully!</h3>
<form method="get" asp-controller="Account" asp-action="Cabinet">
        <input type="submit" value="Go to the personal cabinet" />
    </form>
