<h1>@User.Identity.Name ADMIN PANEL</h1><br />

<a class="btn btn-info" asp-action="Index" asp-controller="Roles">Role managment</a>
<a class="btn btn-info" asp-action="VehicleManagment" asp-controller="AdminPanel">Vehicle managment</a>
<a class="btn btn-info" asp-action="BrandList" asp-controller="AdminPanel">Vehicle brands</a>
<a class="btn btn-info" asp-action="VehicleClassList" asp-controller="AdminPanel">Vehicle classification</a>
<a class="btn btn-info" asp-action="AdditionalServicesList" asp-controller="AdminPanel">Additional services</a>
<a class="btn btn-info" asp-action="LocationList" asp-controller="AdminPanel">Locations</a>
<a class="btn btn-info" asp-action="FuelTypeList" asp-controller="AdminPanel">Fuel types</a>